@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1{
    color: #38ca47;
}

body{
    margin: 0 auto;
    font-family: "Poppins", sans-serif; 
    width: 100%;
    max-width: 1280px;
    place-items: center;
    place-content: center;
}

.container-all-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.all-products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    place-content: center;
    gap: 10px;
    width: 90%;
    place-items: center;
}

.a-product{
    text-decoration: none;
}

.container-create-product{
    display: flex;
    width: 100;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2em 0;
}

.form-crear-product{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-flow: column ;
    max-width: 500px;
    border: 1px solid #ddd;
    padding: 1em;
    border-radius: .5em;
    & label{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    & label > input{
        padding: 1em;
        border-radius: 5px;
        transition: all .5s ease;
        border: none;
        background-color: #f5f5f5;
    }

    & label > input:focus{
        background-color: #38ca47;
    }

    & button{
        margin-top:  1em;
        padding: 1em;
        background-color: #38ca47;
        color: white;
        border-radius: .5em;
        max-width: 140px;
        border: none;
        cursor: pointer;
        box-shadow: 0 0.625em 1em 0 rgba(30, 255, 150, 0.35);
        transition: all .5s ease;
        width: 100%;
    }

    & button:hover{
        transform: scale(1.05);
    }

    & section{
        display: flex;
        width: 100%;
    }
}

.product{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    color: black;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
    transition: all .5s ease;
    
    &:hover{
        transform: scale(1.05);
    }

    & div > img{
        object-fit: cover;
        width: 100%;
        aspect-ratio:  3/2;
        border: 1px solid #ddd;
    }

    & .price{
        color: gray;
    }

    & h2{
        font-size: 15px;
        margin: 0;
    }

    & p{
        font-size: 12px;
        margin: 0;
    }


}